.my-button{
    padding: 15px;
    background-color: #333;
    border-radius: 3px;
    border: 1px solid #222;
    color: #eee;
    outline: none;
    cursor: pointer;
}
.my-button:active{
    border-color: #555;
}
.my-button:disable{
    opacity: 0.75;
    
}